.css_userid_int__label { }
.css_userid_int__line {text-align:left;}
.css_userid_int__obj {text-align:left;}
.css_employee_name__label { }
.css_employee_name__line { }
.css_employee_name__obj { }
.css_designation__label { }
.css_designation__line { }
.css_designation__obj { }
.css_dept__label { }
.css_dept__line { }
.css_dept__obj { }
.css_incentive__label { }
.css_incentive__line {text-align:left;}
.css_incentive__obj {text-align:left;}
.css_incentive_desc__label { }
.css_incentive_desc__line { }
.css_incentive_desc__obj { }
