.css_userid_int_det_label, .css_userid_int_det_label:hover {text-align: right;vertical-align: middle;}
.css_userid_int_det_line, .css_userid_int_det_line:hover {height:0px;text-align: right;}
.css_username_det_label, .css_username_det_label:hover {text-align: right;vertical-align: middle;}
.css_username_det_line, .css_username_det_line:hover {height:0px;text-align: right;}
.css_dept_det_label, .css_dept_det_label:hover {text-align: right;vertical-align: middle;}
.css_dept_det_line, .css_dept_det_line:hover {height:0px;text-align: right;}
.css_designation_det_label, .css_designation_det_label:hover {text-align: right;vertical-align: middle;}
.css_designation_det_line, .css_designation_det_line:hover {height:0px;text-align: right;}
.css_other_deduct_det_label, .css_other_deduct_det_label:hover {text-align: right;vertical-align: middle;}
.css_other_deduct_det_line, .css_other_deduct_det_line:hover {height:0px;text-align: right;}
.css_tax_iric_det_label, .css_tax_iric_det_label:hover {text-align: right;vertical-align: middle;}
.css_tax_iric_det_line, .css_tax_iric_det_line:hover {height:0px;text-align: right;}
.css_dedeuct_cons_det_label, .css_dedeuct_cons_det_label:hover {text-align: right;vertical-align: middle;}
.css_dedeuct_cons_det_line, .css_dedeuct_cons_det_line:hover {height:0px;text-align: right;}
.css_loan_deduction_det_label, .css_loan_deduction_det_label:hover {text-align: right;vertical-align: middle;}
.css_loan_deduction_det_line, .css_loan_deduction_det_line:hover {height:0px;text-align: right;}
.css_loan_deduction_bank_det_label, .css_loan_deduction_bank_det_label:hover {text-align: right;vertical-align: middle;}
.css_loan_deduction_bank_det_line, .css_loan_deduction_bank_det_line:hover {height:0px;text-align: right;}
.css_pay_startdate_det_label, .css_pay_startdate_det_label:hover {text-align: right;vertical-align: middle;}
.css_pay_startdate_det_line, .css_pay_startdate_det_line:hover {height:0px;text-align: right;}
.css_pay_enddate_det_label, .css_pay_enddate_det_label:hover {text-align: right;vertical-align: middle;}
.css_pay_enddate_det_line, .css_pay_enddate_det_line:hover {height:0px;text-align: right;}
.css_deduct_assurance_det_label, .css_deduct_assurance_det_label:hover {text-align: right;vertical-align: middle;}
.css_deduct_assurance_det_line, .css_deduct_assurance_det_line:hover {height:0px;text-align: right;}
