.css_userid_int_det_label, .css_userid_int_det_label:hover {text-align: right;vertical-align: middle;}
.css_userid_int_det_line, .css_userid_int_det_line:hover {height:0px;text-align: right;}
.css_username_det_label, .css_username_det_label:hover {text-align: right;vertical-align: middle;}
.css_username_det_line, .css_username_det_line:hover {height:0px;text-align: right;}
.css_dept_det_label, .css_dept_det_label:hover {text-align: right;vertical-align: middle;}
.css_dept_det_line, .css_dept_det_line:hover {height:0px;text-align: right;}
.css_designation_det_label, .css_designation_det_label:hover {text-align: right;vertical-align: middle;}
.css_designation_det_line, .css_designation_det_line:hover {height:0px;text-align: right;}
.css_rate_ot_offday_factor_det_label, .css_rate_ot_offday_factor_det_label:hover {text-align: right;vertical-align: middle;}
.css_rate_ot_offday_factor_det_line, .css_rate_ot_offday_factor_det_line:hover {height:0px;text-align: right;}
.css_pay_startdate_det_label, .css_pay_startdate_det_label:hover {text-align: right;vertical-align: middle;}
.css_pay_startdate_det_line, .css_pay_startdate_det_line:hover {height:0px;text-align: right;}
.css_pay_enddate_det_label, .css_pay_enddate_det_label:hover {text-align: right;vertical-align: middle;}
.css_pay_enddate_det_line, .css_pay_enddate_det_line:hover {height:0px;text-align: right;}
.css_ot_hh_o_det_label, .css_ot_hh_o_det_label:hover {text-align: right;vertical-align: middle;}
.css_ot_hh_o_det_line, .css_ot_hh_o_det_line:hover {height:0px;text-align: right;}
.css_ot_hh_o_pm_det_label, .css_ot_hh_o_pm_det_label:hover {text-align: right;vertical-align: middle;}
.css_ot_hh_o_pm_det_line, .css_ot_hh_o_pm_det_line:hover {height:0px;text-align: right;}
