.css_userid_int_label { }
.css_userid_int_line {text-align:left;}
.css_userid_int_obj {text-align:left;}
.css_employee_name_label { }
.css_employee_name_line { }
.css_employee_name_obj { }
.css_ic_label { }
.css_ic_line { }
.css_ic_obj { }
.css_address_label { }
.css_address_line { }
.css_address_obj { }
.css_phone_label { }
.css_phone_line { }
.css_phone_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_gender_label { }
.css_gender_line { }
.css_gender_obj { }
.css_dob_label { }
.css_dob_line { }
.css_dob_obj { }
.css_hiredate_label { }
.css_hiredate_line { }
.css_hiredate_obj { }
.css_designation_label { }
.css_designation_line { }
.css_designation_obj { }
.css_dept_label { }
.css_dept_line { }
.css_dept_obj { }
.css_photo_name_label { }
.css_photo_name_line {text-align:left;}
.css_photo_name_obj {text-align:left;}
.css_photo_size_label { }
.css_photo_size_line { }
.css_photo_size_obj { }
.css_rate_fixed_label { }
.css_rate_fixed_line {text-align:left;}
.css_rate_fixed_obj {text-align:left;}
.css_rate_cass_label { }
.css_rate_cass_line {text-align:left;}
.css_rate_cass_obj {text-align:left;}
.css_tax_cass_label { }
.css_tax_cass_line {text-align:left;}
.css_tax_cass_obj {text-align:left;}
.css_rate_cfgdct_label { }
.css_rate_cfgdct_line {text-align:left;}
.css_rate_cfgdct_obj {text-align:left;}
.css_tax_cfgdct_label { }
.css_tax_cfgdct_line {text-align:left;}
.css_tax_cfgdct_obj {text-align:left;}
.css_rate_ona_label { }
.css_rate_ona_line {text-align:left;}
.css_rate_ona_obj {text-align:left;}
.css_tax_ona_label { }
.css_tax_ona_line {text-align:left;}
.css_tax_ona_obj {text-align:left;}
.css_rate_fdu_label { }
.css_rate_fdu_line {text-align:left;}
.css_rate_fdu_obj {text-align:left;}
.css_tax_fdu_label { }
.css_tax_fdu_line {text-align:left;}
.css_tax_fdu_obj {text-align:left;}
.css_rate_iris_label { }
.css_rate_iris_line {text-align:left;}
.css_rate_iris_obj {text-align:left;}
.css_revenu_net_label { }
.css_revenu_net_line {text-align:left;}
.css_revenu_net_obj {text-align:left;}
.css_hiring_duration_label { }
.css_hiring_duration_line {text-align:left;}
.css_hiring_duration_obj {text-align:left;}
.css_block_note_label { }
.css_block_note_line { }
.css_block_note_obj { }
.css_field01_label { }
.css_field01_line { }
.css_field01_obj { }
.css_field02_label { }
.css_field02_line { }
.css_field02_obj { }
.css_photo_file_obj {text-align:left;}
.css_photo_file_line {text-align:left;}
