.css_userid_int__label { }
.css_userid_int__line {text-align:left;}
.css_userid_int__obj {text-align:left;}
.css_employee_name__label { }
.css_employee_name__line { }
.css_employee_name__obj { }
.css_hiredate__label { }
.css_hiredate__line { }
.css_hiredate__obj { }
.css_dept__label { }
.css_dept__line { }
.css_dept__obj { }
.css_payperiod__label { }
.css_payperiod__line {text-align:left;}
.css_payperiod__obj {text-align:left;}
.css_loan_bank__label { }
.css_loan_bank__line {text-align:left;}
.css_loan_bank__obj {text-align:left;}
.css_loan_bank_description__label { }
.css_loan_bank_description__line { }
.css_loan_bank_description__obj { }
.css_date_loan_bank__label { }
.css_date_loan_bank__line { }
.css_date_loan_bank__obj { }
.css_loan_deduction_bank__label { }
.css_loan_deduction_bank__line {text-align:left;}
.css_loan_deduction_bank__obj {text-align:left;}
.css_loan_start_deduct_bank__label { }
.css_loan_start_deduct_bank__line { }
.css_loan_start_deduct_bank__obj { }
.css_loan_monthlypayment_bank__label { }
.css_loan_monthlypayment_bank__line {text-align:left;}
.css_loan_monthlypayment_bank__obj {text-align:left;}
.css_loan_end_deduct_bank__label { }
.css_loan_end_deduct_bank__line { }
.css_loan_end_deduct_bank__obj { }
.css_apply_loan_deduction_bank__label { }
.css_apply_loan_deduction_bank__line {text-align:left;}
.css_apply_loan_deduction_bank__obj {text-align:left;}
.css_statement_balance__label { }
.css_statement_balance__line {text-align:left;}
.css_statement_balance__obj {text-align:left;}
