.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_work_hh_w_sum_label, .css_work_hh_w_sum_label:hover {text-align: right; vertical-align: top}
.css_work_hh_w_sum_field, .css_work_hh_w_sum_field:hover {text-align: right; vertical-align: top}
.css_work_hh_w_pm_sum_label, .css_work_hh_w_pm_sum_label:hover {text-align: right; vertical-align: top}
.css_work_hh_w_pm_sum_field, .css_work_hh_w_pm_sum_field:hover {text-align: right; vertical-align: top}
.css_rate_salf_sum_label, .css_rate_salf_sum_label:hover {text-align: right; vertical-align: top}
.css_rate_salf_sum_field, .css_rate_salf_sum_field:hover {text-align: right; vertical-align: top}
.css_income_workday_sum_label, .css_income_workday_sum_label:hover {text-align: right; vertical-align: top}
.css_income_workday_sum_field, .css_income_workday_sum_field:hover {text-align: right; vertical-align: top}
