.css_userid_int_det_label, .css_userid_int_det_label:hover {text-align: left;vertical-align: middle;}
.css_userid_int_det_line, .css_userid_int_det_line:hover {height:0px;text-align: left;}
.css_username_det_label, .css_username_det_label:hover {text-align: left;vertical-align: middle;}
.css_username_det_line, .css_username_det_line:hover {height:0px;text-align: left;}
.css_dept_det_label, .css_dept_det_label:hover {text-align: left;vertical-align: middle;}
.css_dept_det_line, .css_dept_det_line:hover {height:0px;text-align: left;}
.css_designation_det_label, .css_designation_det_label:hover {text-align: left;vertical-align: middle;}
.css_designation_det_line, .css_designation_det_line:hover {height:0px;text-align: left;}
.css_rate_salf_det_label, .css_rate_salf_det_label:hover {text-align: left;vertical-align: middle;}
.css_rate_salf_det_line, .css_rate_salf_det_line:hover {height:0px;text-align: left;}
.css_rate_work_det_label, .css_rate_work_det_label:hover {text-align: left;vertical-align: middle;}
.css_rate_work_det_line, .css_rate_work_det_line:hover {height:0px;text-align: left;}
.css_work_hh_w_det_label, .css_work_hh_w_det_label:hover {text-align: left;vertical-align: middle;}
.css_work_hh_w_det_line, .css_work_hh_w_det_line:hover {height:0px;text-align: left;}
.css_work_hh_w_pm_det_label, .css_work_hh_w_pm_det_label:hover {text-align: left;vertical-align: middle;}
.css_work_hh_w_pm_det_line, .css_work_hh_w_pm_det_line:hover {height:0px;text-align: left;}
.css_ot_hh_w_det_label, .css_ot_hh_w_det_label:hover {text-align: left;vertical-align: middle;}
.css_ot_hh_w_det_line, .css_ot_hh_w_det_line:hover {height:0px;text-align: left;}
.css_pay_startdate_det_label, .css_pay_startdate_det_label:hover {text-align: left;vertical-align: middle;}
.css_pay_startdate_det_line, .css_pay_startdate_det_line:hover {height:0px;text-align: left;}
.css_pay_enddate_det_label, .css_pay_enddate_det_label:hover {text-align: left;vertical-align: middle;}
.css_pay_enddate_det_line, .css_pay_enddate_det_line:hover {height:0px;text-align: left;}
.css_income_workday_det_label, .css_income_workday_det_label:hover {text-align: left;vertical-align: middle;}
.css_income_workday_det_line, .css_income_workday_det_line:hover {height:0px;text-align: left;}
