.css_userid_int__label { }
.css_userid_int__line {text-align:left;}
.css_userid_int__obj {text-align:left;}
.css_employee_name__label { }
.css_employee_name__line { }
.css_employee_name__obj { }
.css_dept__label { }
.css_dept__line { }
.css_dept__obj { }
.css_other_loan__label { }
.css_other_loan__line {text-align:left;}
.css_other_loan__obj {text-align:left;}
.css_date_other_loan__label { }
.css_date_other_loan__line { }
.css_date_other_loan__obj { }
.css_other_loan_deduction__label { }
.css_other_loan_deduction__line {text-align:left;}
.css_other_loan_deduction__obj {text-align:left;}
.css_other_loan_start_deduct__label { }
.css_other_loan_start_deduct__line { }
.css_other_loan_start_deduct__obj { }
.css_other_loan_end_deduct__label { }
.css_other_loan_end_deduct__line { }
.css_other_loan_end_deduct__obj { }
.css_apply_other_loan_deduction__label { }
.css_apply_other_loan_deduction__line {text-align:left;}
.css_apply_other_loan_deduction__obj {text-align:left;}
