.css_userid_int_label, .css_userid_int_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_userid_int_grid_line, .css_userid_int_grid_line:hover {vertical-align: top;text-align: right;}
.css_username_label, .css_username_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_username_grid_line, .css_username_grid_line:hover {vertical-align: top;text-align: right;}
.css_balance_label, .css_balance_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_balance_grid_line, .css_balance_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_label, .css_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line, .css_id_grid_line:hover {vertical-align: top;text-align: right;}
