.css_userid_int__label { }
.css_userid_int__line {text-align:left;}
.css_userid_int__obj {text-align:left;}
.css_employee_name__label { }
.css_employee_name__line { }
.css_employee_name__obj { }
.css_dept__label { }
.css_dept__line { }
.css_dept__obj { }
.css_rate_cass__label { }
.css_rate_cass__line {text-align:left;}
.css_rate_cass__obj {text-align:left;}
.css_rate_cfgdct__label { }
.css_rate_cfgdct__line {text-align:left;}
.css_rate_cfgdct__obj {text-align:left;}
.css_rate_ona__label { }
.css_rate_ona__line {text-align:left;}
.css_rate_ona__obj {text-align:left;}
.css_rate_fdu__label { }
.css_rate_fdu__line {text-align:left;}
.css_rate_fdu__obj {text-align:left;}
.css_rate_iris__label { }
.css_rate_iris__line {text-align:left;}
.css_rate_iris__obj {text-align:left;}
.css_rate_iric__label { }
.css_rate_iric__line {text-align:left;}
.css_rate_iric__obj {text-align:left;}
.css_rate_tms__label { }
.css_rate_tms__line {text-align:left;}
.css_rate_tms__obj {text-align:left;}
.css_rate_stamp__label { }
.css_rate_stamp__line {text-align:left;}
.css_rate_stamp__obj {text-align:left;}
