.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_ot_hh_r_sum_label, .css_ot_hh_r_sum_label:hover {text-align: right; vertical-align: top}
.css_ot_hh_r_sum_field, .css_ot_hh_r_sum_field:hover {text-align: right; vertical-align: top}
.css_ot_hh_r_pm_sum_label, .css_ot_hh_r_pm_sum_label:hover {text-align: right; vertical-align: top}
.css_ot_hh_r_pm_sum_field, .css_ot_hh_r_pm_sum_field:hover {text-align: right; vertical-align: top}
.css_income_restday_ot_sum_label, .css_income_restday_ot_sum_label:hover {text-align: right; vertical-align: top}
.css_income_restday_ot_sum_field, .css_income_restday_ot_sum_field:hover {text-align: right; vertical-align: top}
