.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_day_cons_sum_label, .css_day_cons_sum_label:hover {text-align: right; vertical-align: top}
.css_day_cons_sum_field, .css_day_cons_sum_field:hover {text-align: right; vertical-align: top}
.css_dedeuct_cons_sum_label, .css_dedeuct_cons_sum_label:hover {text-align: right; vertical-align: top}
.css_dedeuct_cons_sum_field, .css_dedeuct_cons_sum_field:hover {text-align: right; vertical-align: top}
