.css_userid_int_det_label, .css_userid_int_det_label:hover {text-align: right;vertical-align: middle;}
.css_userid_int_det_line, .css_userid_int_det_line:hover {height:0px;text-align: right;}
.css_username_det_label, .css_username_det_label:hover {text-align: right;vertical-align: middle;}
.css_username_det_line, .css_username_det_line:hover {height:0px;text-align: right;}
.css_dept_det_label, .css_dept_det_label:hover {text-align: right;vertical-align: middle;}
.css_dept_det_line, .css_dept_det_line:hover {height:0px;text-align: right;}
.css_designation_det_label, .css_designation_det_label:hover {text-align: right;vertical-align: middle;}
.css_designation_det_line, .css_designation_det_line:hover {height:0px;text-align: right;}
.css_start_date_cons_det_label, .css_start_date_cons_det_label:hover {text-align: right;vertical-align: middle;}
.css_start_date_cons_det_line, .css_start_date_cons_det_line:hover {height:0px;text-align: right;}
.css_end_date_cons_det_label, .css_end_date_cons_det_label:hover {text-align: right;vertical-align: middle;}
.css_end_date_cons_det_line, .css_end_date_cons_det_line:hover {height:0px;text-align: right;}
.css_day_cons_det_label, .css_day_cons_det_label:hover {text-align: right;vertical-align: middle;}
.css_day_cons_det_line, .css_day_cons_det_line:hover {height:0px;text-align: right;}
.css_rate_cons_det_label, .css_rate_cons_det_label:hover {text-align: right;vertical-align: middle;}
.css_rate_cons_det_line, .css_rate_cons_det_line:hover {height:0px;text-align: right;}
.css_dedeuct_cons_det_label, .css_dedeuct_cons_det_label:hover {text-align: right;vertical-align: middle;}
.css_dedeuct_cons_det_line, .css_dedeuct_cons_det_line:hover {height:0px;text-align: right;}
.css_pay_startdate_det_label, .css_pay_startdate_det_label:hover {text-align: right;vertical-align: middle;}
.css_pay_startdate_det_line, .css_pay_startdate_det_line:hover {height:0px;text-align: right;}
.css_pay_enddate_det_label, .css_pay_enddate_det_label:hover {text-align: right;vertical-align: middle;}
.css_pay_enddate_det_line, .css_pay_enddate_det_line:hover {height:0px;text-align: right;}
