.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_sal_brut_reg_sum_label, .css_sal_brut_reg_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_brut_reg_sum_field, .css_sal_brut_reg_sum_field:hover {text-align: right; vertical-align: top}
.css_tax_cfgdct_sum_label, .css_tax_cfgdct_sum_label:hover {text-align: right; vertical-align: top}
.css_tax_cfgdct_sum_field, .css_tax_cfgdct_sum_field:hover {text-align: right; vertical-align: top}
