.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_hh_sunday_sum_label, .css_hh_sunday_sum_label:hover {text-align: right; vertical-align: top}
.css_hh_sunday_sum_field, .css_hh_sunday_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_sunday_sum_label, .css_sal_sunday_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_sunday_sum_field, .css_sal_sunday_sum_field:hover {text-align: right; vertical-align: top}
.css_hh_offday_sum_label, .css_hh_offday_sum_label:hover {text-align: right; vertical-align: top}
.css_hh_offday_sum_field, .css_hh_offday_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_holiday_sum_label, .css_sal_holiday_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_holiday_sum_field, .css_sal_holiday_sum_field:hover {text-align: right; vertical-align: top}
.css_hh_leavetype_sum_label, .css_hh_leavetype_sum_label:hover {text-align: right; vertical-align: top}
.css_hh_leavetype_sum_field, .css_hh_leavetype_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_leavetype_sum_label, .css_sal_leavetype_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_leavetype_sum_field, .css_sal_leavetype_sum_field:hover {text-align: right; vertical-align: top}
