.css_userid_int_det_label, .css_userid_int_det_label:hover {text-align: left;vertical-align: middle;}
.css_userid_int_det_line, .css_userid_int_det_line:hover {height:0px;text-align: left;}
.css_employee_name_det_label, .css_employee_name_det_label:hover {text-align: left;vertical-align: middle;}
.css_employee_name_det_line, .css_employee_name_det_line:hover {height:0px;text-align: left;}
.css_designation_det_label, .css_designation_det_label:hover {text-align: left;vertical-align: middle;}
.css_designation_det_line, .css_designation_det_line:hover {height:0px;text-align: left;}
.css_dept_det_label, .css_dept_det_label:hover {text-align: left;vertical-align: middle;}
.css_dept_det_line, .css_dept_det_line:hover {height:0px;text-align: left;}
.css_rate_ot_factor_det_label, .css_rate_ot_factor_det_label:hover {text-align: left;vertical-align: middle;}
.css_rate_ot_factor_det_line, .css_rate_ot_factor_det_line:hover {height:0px;text-align: left;}
.css_rate_ot_holiday_factor_det_label, .css_rate_ot_holiday_factor_det_label:hover {text-align: left;vertical-align: middle;}
.css_rate_ot_holiday_factor_det_line, .css_rate_ot_holiday_factor_det_line:hover {height:0px;text-align: left;}
