.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_sal_holiday_sum_label, .css_sal_holiday_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_holiday_sum_field, .css_sal_holiday_sum_field:hover {text-align: right; vertical-align: top}
.css_income_workday_sum_label, .css_income_workday_sum_label:hover {text-align: right; vertical-align: top}
.css_income_workday_sum_field, .css_income_workday_sum_field:hover {text-align: right; vertical-align: top}
.css_income_workday_ot_sum_label, .css_income_workday_ot_sum_label:hover {text-align: right; vertical-align: top}
.css_income_workday_ot_sum_field, .css_income_workday_ot_sum_field:hover {text-align: right; vertical-align: top}
.css_income_holiday_sum_label, .css_income_holiday_sum_label:hover {text-align: right; vertical-align: top}
.css_income_holiday_sum_field, .css_income_holiday_sum_field:hover {text-align: right; vertical-align: top}
.css_income_holiday_ot_sum_label, .css_income_holiday_ot_sum_label:hover {text-align: right; vertical-align: top}
.css_income_holiday_ot_sum_field, .css_income_holiday_ot_sum_field:hover {text-align: right; vertical-align: top}
.css_income_restday_sum_label, .css_income_restday_sum_label:hover {text-align: right; vertical-align: top}
.css_income_restday_sum_field, .css_income_restday_sum_field:hover {text-align: right; vertical-align: top}
.css_income_restday_ot_sum_label, .css_income_restday_ot_sum_label:hover {text-align: right; vertical-align: top}
.css_income_restday_ot_sum_field, .css_income_restday_ot_sum_field:hover {text-align: right; vertical-align: top}
.css_income_offday_sum_label, .css_income_offday_sum_label:hover {text-align: right; vertical-align: top}
.css_income_offday_sum_field, .css_income_offday_sum_field:hover {text-align: right; vertical-align: top}
.css_income_offday_ot_sum_label, .css_income_offday_ot_sum_label:hover {text-align: right; vertical-align: top}
.css_income_offday_ot_sum_field, .css_income_offday_ot_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_sunday_sum_label, .css_sal_sunday_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_sunday_sum_field, .css_sal_sunday_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_brut_reg_sum_label, .css_sal_brut_reg_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_brut_reg_sum_field, .css_sal_brut_reg_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_leavetype_sum_label, .css_sal_leavetype_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_leavetype_sum_field, .css_sal_leavetype_sum_field:hover {text-align: right; vertical-align: top}
