.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_userid_int_dct_label, .css_userid_int_dct_label:hover {text-align: right; vertical-align: top}
.css_userid_int_dct_field, .css_userid_int_dct_field:hover {text-align: right; vertical-align: top}
.css_sal_hr_worked_sum_label, .css_sal_hr_worked_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_hr_worked_sum_field, .css_sal_hr_worked_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_sunday_sum_label, .css_sal_sunday_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_sunday_sum_field, .css_sal_sunday_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_holiday_sum_label, .css_sal_holiday_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_holiday_sum_field, .css_sal_holiday_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_brut_reg_sum_label, .css_sal_brut_reg_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_brut_reg_sum_field, .css_sal_brut_reg_sum_field:hover {text-align: right; vertical-align: top}
.css_tax_ona_sum_label, .css_tax_ona_sum_label:hover {text-align: right; vertical-align: top}
.css_tax_ona_sum_field, .css_tax_ona_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_suppl_sum_label, .css_sal_suppl_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_suppl_sum_field, .css_sal_suppl_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_holiday_worked_suppl_sum_label, .css_sal_holiday_worked_suppl_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_holiday_worked_suppl_sum_field, .css_sal_holiday_worked_suppl_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_holiday_suppl_sum_label, .css_sal_holiday_suppl_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_holiday_suppl_sum_field, .css_sal_holiday_suppl_sum_field:hover {text-align: right; vertical-align: top}
.css_incentive_sum_label, .css_incentive_sum_label:hover {text-align: right; vertical-align: top}
.css_incentive_sum_field, .css_incentive_sum_field:hover {text-align: right; vertical-align: top}
.css_tax_iric_sum_label, .css_tax_iric_sum_label:hover {text-align: right; vertical-align: top}
.css_tax_iric_sum_field, .css_tax_iric_sum_field:hover {text-align: right; vertical-align: top}
.css_rappel_sum_label, .css_rappel_sum_label:hover {text-align: right; vertical-align: top}
.css_rappel_sum_field, .css_rappel_sum_field:hover {text-align: right; vertical-align: top}
.css_day_cons_sum_label, .css_day_cons_sum_label:hover {text-align: right; vertical-align: top}
.css_day_cons_sum_field, .css_day_cons_sum_field:hover {text-align: right; vertical-align: top}
.css_dedeuct_cons_sum_label, .css_dedeuct_cons_sum_label:hover {text-align: right; vertical-align: top}
.css_dedeuct_cons_sum_field, .css_dedeuct_cons_sum_field:hover {text-align: right; vertical-align: top}
.css_other_deduct_sum_label, .css_other_deduct_sum_label:hover {text-align: right; vertical-align: top}
.css_other_deduct_sum_field, .css_other_deduct_sum_field:hover {text-align: right; vertical-align: top}
.css_total_deduct_sum_label, .css_total_deduct_sum_label:hover {text-align: right; vertical-align: top}
.css_total_deduct_sum_field, .css_total_deduct_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_net_sum_label, .css_sal_net_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_net_sum_field, .css_sal_net_sum_field:hover {text-align: right; vertical-align: top}
.css_loan_deduction_sum_label, .css_loan_deduction_sum_label:hover {text-align: right; vertical-align: top}
.css_loan_deduction_sum_field, .css_loan_deduction_sum_field:hover {text-align: right; vertical-align: top}
