.css_userid_int_det_label, .css_userid_int_det_label:hover {text-align: right;vertical-align: middle;}
.css_userid_int_det_line, .css_userid_int_det_line:hover {height:0px;text-align: right;}
.css_hiredate_det_label, .css_hiredate_det_label:hover {text-align: right;vertical-align: middle;}
.css_hiredate_det_line, .css_hiredate_det_line:hover {height:0px;text-align: right;}
.css_username_det_label, .css_username_det_label:hover {text-align: right;vertical-align: middle;}
.css_username_det_line, .css_username_det_line:hover {height:0px;text-align: right;}
.css_dept_det_label, .css_dept_det_label:hover {text-align: right;vertical-align: middle;}
.css_dept_det_line, .css_dept_det_line:hover {height:0px;text-align: right;}
.css_sal_brut_reg_det_label, .css_sal_brut_reg_det_label:hover {text-align: right;vertical-align: middle;}
.css_sal_brut_reg_det_line, .css_sal_brut_reg_det_line:hover {height:0px;text-align: right;}
.css_sal_suppl_det_label, .css_sal_suppl_det_label:hover {text-align: right;vertical-align: middle;}
.css_sal_suppl_det_line, .css_sal_suppl_det_line:hover {height:0px;text-align: right;}
.css_sal_holiday_worked_suppl_det_label, .css_sal_holiday_worked_suppl_det_label:hover {text-align: right;vertical-align: middle;}
.css_sal_holiday_worked_suppl_det_line, .css_sal_holiday_worked_suppl_det_line:hover {height:0px;text-align: right;}
.css_sal_holiday_suppl_det_label, .css_sal_holiday_suppl_det_label:hover {text-align: right;vertical-align: middle;}
.css_sal_holiday_suppl_det_line, .css_sal_holiday_suppl_det_line:hover {height:0px;text-align: right;}
.css_incentive_det_label, .css_incentive_det_label:hover {text-align: right;vertical-align: middle;}
.css_incentive_det_line, .css_incentive_det_line:hover {height:0px;text-align: right;}
.css_bank_number_det_label, .css_bank_number_det_label:hover {text-align: right;vertical-align: middle;}
.css_bank_number_det_line, .css_bank_number_det_line:hover {height:0px;text-align: right;}
