.css_sc_field_0_label {width:100px;}
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
.css_sc_field_1_label {width:100px;}
.css_sc_field_1_line { }
.css_sc_field_1_obj { }
.css_rate_label { }
.css_rate_line { }
.css_rate_obj {text-align:right;}
.css_department_label { }
.css_department_line { }
.css_department_obj { }
