.css_userid_int_label, .css_userid_int_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_userid_int_grid_line, .css_userid_int_grid_line:hover {vertical-align: top;text-align: right;}
.css_username_label, .css_username_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_username_grid_line, .css_username_grid_line:hover {vertical-align: top;text-align: right;}
.css_pay_startdate_label, .css_pay_startdate_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pay_startdate_grid_line, .css_pay_startdate_grid_line:hover {vertical-align: top;text-align: center;}
.css_pay_enddate_label, .css_pay_enddate_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pay_enddate_grid_line, .css_pay_enddate_grid_line:hover {vertical-align: top;text-align: center;}
.css_work_hh_r_label, .css_work_hh_r_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_work_hh_r_grid_line, .css_work_hh_r_grid_line:hover {vertical-align: top;text-align: right;}
.css_work_hh_r_tot_ger, .css_work_hh_r_tot_ger:hover {text-align: ;text-align: right;}
.css_work_hh_r_pm_label, .css_work_hh_r_pm_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_work_hh_r_pm_grid_line, .css_work_hh_r_pm_grid_line:hover {vertical-align: top;text-align: right;}
.css_work_hh_r_pm_tot_ger, .css_work_hh_r_pm_tot_ger:hover {text-align: ;text-align: right;}
.css_rate_work_label, .css_rate_work_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rate_work_grid_line, .css_rate_work_grid_line:hover {vertical-align: top;text-align: right;}
.css_rate_ot_restday_factor_label, .css_rate_ot_restday_factor_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rate_ot_restday_factor_grid_line, .css_rate_ot_restday_factor_grid_line:hover {vertical-align: top;text-align: right;}
.css_income_restday_label, .css_income_restday_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_income_restday_grid_line, .css_income_restday_grid_line:hover {vertical-align: top;text-align: right;}
.css_income_restday_tot_ger, .css_income_restday_tot_ger:hover {text-align: ;text-align: right;}
.css_hiredate_label, .css_hiredate_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_hiredate_grid_line, .css_hiredate_grid_line:hover {vertical-align: top;text-align: center;}
.css_dept_label, .css_dept_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dept_grid_line, .css_dept_grid_line:hover {vertical-align: top;text-align: right;}
.css_designation_label, .css_designation_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_designation_grid_line, .css_designation_grid_line:hover {vertical-align: top;text-align: right;}
.css_work_hh_r_S_sub_tot, .css_work_hh_r_S_sub_tot:hover {text-align: right;text-align: right;}
.css_work_hh_r_S_tot_ger, .css_work_hh_r_S_tot_ger:hover {text-align: right;}
.css_work_hh_r_pm_S_sub_tot, .css_work_hh_r_pm_S_sub_tot:hover {text-align: right;text-align: right;}
.css_work_hh_r_pm_S_tot_ger, .css_work_hh_r_pm_S_tot_ger:hover {text-align: right;}
.css_income_restday_S_sub_tot, .css_income_restday_S_sub_tot:hover {text-align: right;text-align: right;}
.css_income_restday_S_tot_ger, .css_income_restday_S_tot_ger:hover {text-align: right;}
