.css_boni_code_det_label, .css_boni_code_det_label:hover {text-align: right;vertical-align: middle;}
.css_boni_code_det_line, .css_boni_code_det_line:hover {height:0px;text-align: right;}
.css_boni_description_det_label, .css_boni_description_det_label:hover {text-align: right;vertical-align: middle;}
.css_boni_description_det_line, .css_boni_description_det_line:hover {height:0px;text-align: right;}
.css_date_debut_det_label, .css_date_debut_det_label:hover {text-align: right;vertical-align: middle;}
.css_date_debut_det_line, .css_date_debut_det_line:hover {height:0px;text-align: right;}
.css_date_fin_det_label, .css_date_fin_det_label:hover {text-align: right;vertical-align: middle;}
.css_date_fin_det_line, .css_date_fin_det_line:hover {height:0px;text-align: right;}
