.css_userid_int__label { }
.css_userid_int__line {text-align:left;}
.css_userid_int__obj {text-align:left;}
.css_employee_name__label { }
.css_employee_name__line { }
.css_employee_name__obj { }
.css_dept__label { }
.css_dept__line { }
.css_dept__obj { }
.css_payment__label { }
.css_payment__line {text-align:left;}
.css_payment__obj {text-align:left;}
.css_date_payment__label { }
.css_date_payment__line { }
.css_date_payment__obj { }
.css_payment_receipt__label { }
.css_payment_receipt__line { }
.css_payment_receipt__obj { }
