.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_other_deduct_sum_label, .css_other_deduct_sum_label:hover {text-align: right; vertical-align: top}
.css_other_deduct_sum_field, .css_other_deduct_sum_field:hover {text-align: right; vertical-align: top}
.css_tax_ona_sum_label, .css_tax_ona_sum_label:hover {text-align: right; vertical-align: top}
.css_tax_ona_sum_field, .css_tax_ona_sum_field:hover {text-align: right; vertical-align: top}
.css_tax_iric_sum_label, .css_tax_iric_sum_label:hover {text-align: right; vertical-align: top}
.css_tax_iric_sum_field, .css_tax_iric_sum_field:hover {text-align: right; vertical-align: top}
.css_dedeuct_cons_sum_label, .css_dedeuct_cons_sum_label:hover {text-align: right; vertical-align: top}
.css_dedeuct_cons_sum_field, .css_dedeuct_cons_sum_field:hover {text-align: right; vertical-align: top}
.css_loan_deduction_sum_label, .css_loan_deduction_sum_label:hover {text-align: right; vertical-align: top}
.css_loan_deduction_sum_field, .css_loan_deduction_sum_field:hover {text-align: right; vertical-align: top}
.css_loan_deduction_bank_sum_label, .css_loan_deduction_bank_sum_label:hover {text-align: right; vertical-align: top}
.css_loan_deduction_bank_sum_field, .css_loan_deduction_bank_sum_field:hover {text-align: right; vertical-align: top}
.css_total_deduct_sum_label, .css_total_deduct_sum_label:hover {text-align: right; vertical-align: top}
.css_total_deduct_sum_field, .css_total_deduct_sum_field:hover {text-align: right; vertical-align: top}
