.css_userid_int__label { }
.css_userid_int__line {text-align:left;}
.css_userid_int__obj {text-align:left;}
.css_employee_name__label { }
.css_employee_name__line { }
.css_employee_name__obj { }
.css_designation__label { }
.css_designation__line { }
.css_designation__obj { }
.css_dept__label { }
.css_dept__line { }
.css_dept__obj { }
.css_rappel__label { }
.css_rappel__line {text-align:left;}
.css_rappel__obj {text-align:left;}
.css_rappel_desc__label { }
.css_rappel_desc__line { }
.css_rappel_desc__obj { }
