.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_userid_int_cnt_label, .css_userid_int_cnt_label:hover {text-align: right; vertical-align: top}
.css_userid_int_cnt_field, .css_userid_int_cnt_field:hover {text-align: right; vertical-align: top}
.css_sal_brut_reg_sum_label, .css_sal_brut_reg_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_brut_reg_sum_field, .css_sal_brut_reg_sum_field:hover {text-align: right; vertical-align: top}
.css_income_workday_ot_sum_label, .css_income_workday_ot_sum_label:hover {text-align: right; vertical-align: top}
.css_income_workday_ot_sum_field, .css_income_workday_ot_sum_field:hover {text-align: right; vertical-align: top}
.css_income_holiday_ot_sum_label, .css_income_holiday_ot_sum_label:hover {text-align: right; vertical-align: top}
.css_income_holiday_ot_sum_field, .css_income_holiday_ot_sum_field:hover {text-align: right; vertical-align: top}
.css_income_restday_ot_sum_label, .css_income_restday_ot_sum_label:hover {text-align: right; vertical-align: top}
.css_income_restday_ot_sum_field, .css_income_restday_ot_sum_field:hover {text-align: right; vertical-align: top}
.css_income_offday_ot_sum_label, .css_income_offday_ot_sum_label:hover {text-align: right; vertical-align: top}
.css_income_offday_ot_sum_field, .css_income_offday_ot_sum_field:hover {text-align: right; vertical-align: top}
.css_incentive_sum_label, .css_incentive_sum_label:hover {text-align: right; vertical-align: top}
.css_incentive_sum_field, .css_incentive_sum_field:hover {text-align: right; vertical-align: top}
.css_rappel_sum_label, .css_rappel_sum_label:hover {text-align: right; vertical-align: top}
.css_rappel_sum_field, .css_rappel_sum_field:hover {text-align: right; vertical-align: top}
.css_total_deduct_sum_label, .css_total_deduct_sum_label:hover {text-align: right; vertical-align: top}
.css_total_deduct_sum_field, .css_total_deduct_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_net_sum_label, .css_sal_net_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_net_sum_field, .css_sal_net_sum_field:hover {text-align: right; vertical-align: top}
.css_income_workday_sum_label, .css_income_workday_sum_label:hover {text-align: right; vertical-align: top}
.css_income_workday_sum_field, .css_income_workday_sum_field:hover {text-align: right; vertical-align: top}
.css_income_holiday_sum_label, .css_income_holiday_sum_label:hover {text-align: right; vertical-align: top}
.css_income_holiday_sum_field, .css_income_holiday_sum_field:hover {text-align: right; vertical-align: top}
.css_income_restday_sum_label, .css_income_restday_sum_label:hover {text-align: right; vertical-align: top}
.css_income_restday_sum_field, .css_income_restday_sum_field:hover {text-align: right; vertical-align: top}
.css_rate_salf_sum_label, .css_rate_salf_sum_label:hover {text-align: right; vertical-align: top}
.css_rate_salf_sum_field, .css_rate_salf_sum_field:hover {text-align: right; vertical-align: top}
.css_rate_work_sum_label, .css_rate_work_sum_label:hover {text-align: right; vertical-align: top}
.css_rate_work_sum_field, .css_rate_work_sum_field:hover {text-align: right; vertical-align: top}
.css_hh_sunday_sum_label, .css_hh_sunday_sum_label:hover {text-align: right; vertical-align: top}
.css_hh_sunday_sum_field, .css_hh_sunday_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_sunday_sum_label, .css_sal_sunday_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_sunday_sum_field, .css_sal_sunday_sum_field:hover {text-align: right; vertical-align: top}
.css_hh_offday_sum_label, .css_hh_offday_sum_label:hover {text-align: right; vertical-align: top}
.css_hh_offday_sum_field, .css_hh_offday_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_holiday_sum_label, .css_sal_holiday_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_holiday_sum_field, .css_sal_holiday_sum_field:hover {text-align: right; vertical-align: top}
.css_ot_hh_w_sum_label, .css_ot_hh_w_sum_label:hover {text-align: right; vertical-align: top}
.css_ot_hh_w_sum_field, .css_ot_hh_w_sum_field:hover {text-align: right; vertical-align: top}
.css_ot_hh_w_pm_sum_label, .css_ot_hh_w_pm_sum_label:hover {text-align: right; vertical-align: top}
.css_ot_hh_w_pm_sum_field, .css_ot_hh_w_pm_sum_field:hover {text-align: right; vertical-align: top}
.css_ot_hh_h_sum_label, .css_ot_hh_h_sum_label:hover {text-align: right; vertical-align: top}
.css_ot_hh_h_sum_field, .css_ot_hh_h_sum_field:hover {text-align: right; vertical-align: top}
.css_ot_hh_h_pm_sum_label, .css_ot_hh_h_pm_sum_label:hover {text-align: right; vertical-align: top}
.css_ot_hh_h_pm_sum_field, .css_ot_hh_h_pm_sum_field:hover {text-align: right; vertical-align: top}
.css_ot_hh_r_sum_label, .css_ot_hh_r_sum_label:hover {text-align: right; vertical-align: top}
.css_ot_hh_r_sum_field, .css_ot_hh_r_sum_field:hover {text-align: right; vertical-align: top}
.css_ot_hh_r_pm_sum_label, .css_ot_hh_r_pm_sum_label:hover {text-align: right; vertical-align: top}
.css_ot_hh_r_pm_sum_field, .css_ot_hh_r_pm_sum_field:hover {text-align: right; vertical-align: top}
.css_ot_hh_o_sum_label, .css_ot_hh_o_sum_label:hover {text-align: right; vertical-align: top}
.css_ot_hh_o_sum_field, .css_ot_hh_o_sum_field:hover {text-align: right; vertical-align: top}
.css_ot_hh_o_pm_sum_label, .css_ot_hh_o_pm_sum_label:hover {text-align: right; vertical-align: top}
.css_ot_hh_o_pm_sum_field, .css_ot_hh_o_pm_sum_field:hover {text-align: right; vertical-align: top}
.css_income_comm_sum_label, .css_income_comm_sum_label:hover {text-align: right; vertical-align: top}
.css_income_comm_sum_field, .css_income_comm_sum_field:hover {text-align: right; vertical-align: top}
.css_tax_ona_sum_label, .css_tax_ona_sum_label:hover {text-align: right; vertical-align: top}
.css_tax_ona_sum_field, .css_tax_ona_sum_field:hover {text-align: right; vertical-align: top}
.css_tax_iric_sum_label, .css_tax_iric_sum_label:hover {text-align: right; vertical-align: top}
.css_tax_iric_sum_field, .css_tax_iric_sum_field:hover {text-align: right; vertical-align: top}
.css_dedeuct_cons_sum_label, .css_dedeuct_cons_sum_label:hover {text-align: right; vertical-align: top}
.css_dedeuct_cons_sum_field, .css_dedeuct_cons_sum_field:hover {text-align: right; vertical-align: top}
.css_loan_deduction_sum_label, .css_loan_deduction_sum_label:hover {text-align: right; vertical-align: top}
.css_loan_deduction_sum_field, .css_loan_deduction_sum_field:hover {text-align: right; vertical-align: top}
.css_loan_deduction_bank_sum_label, .css_loan_deduction_bank_sum_label:hover {text-align: right; vertical-align: top}
.css_loan_deduction_bank_sum_field, .css_loan_deduction_bank_sum_field:hover {text-align: right; vertical-align: top}
.css_other_deduct_sum_label, .css_other_deduct_sum_label:hover {text-align: right; vertical-align: top}
.css_other_deduct_sum_field, .css_other_deduct_sum_field:hover {text-align: right; vertical-align: top}
.css_tax_cass_sum_label, .css_tax_cass_sum_label:hover {text-align: right; vertical-align: top}
.css_tax_cass_sum_field, .css_tax_cass_sum_field:hover {text-align: right; vertical-align: top}
.css_tax_cfgdct_sum_label, .css_tax_cfgdct_sum_label:hover {text-align: right; vertical-align: top}
.css_tax_cfgdct_sum_field, .css_tax_cfgdct_sum_field:hover {text-align: right; vertical-align: top}
.css_tax_fdu_sum_label, .css_tax_fdu_sum_label:hover {text-align: right; vertical-align: top}
.css_tax_fdu_sum_field, .css_tax_fdu_sum_field:hover {text-align: right; vertical-align: top}
.css_tax_iris_sum_label, .css_tax_iris_sum_label:hover {text-align: right; vertical-align: top}
.css_tax_iris_sum_field, .css_tax_iris_sum_field:hover {text-align: right; vertical-align: top}
.css_income_offday_sum_label, .css_income_offday_sum_label:hover {text-align: right; vertical-align: top}
.css_income_offday_sum_field, .css_income_offday_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_leavetype_sum_label, .css_sal_leavetype_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_leavetype_sum_field, .css_sal_leavetype_sum_field:hover {text-align: right; vertical-align: top}
