.css_userid_int__label { }
.css_userid_int__line {text-align:left;}
.css_userid_int__obj {text-align:left;}
.css_employee_name__label { }
.css_employee_name__line { }
.css_employee_name__obj { }
.css_designation__label { }
.css_designation__line { }
.css_designation__obj { }
.css_dept__label { }
.css_dept__line { }
.css_dept__obj { }
.css_start_date_cons__label { }
.css_start_date_cons__line { }
.css_start_date_cons__obj { }
.css_end_date_cons__label { }
.css_end_date_cons__line { }
.css_end_date_cons__obj { }
.css_rate_cons__label { }
.css_rate_cons__line {text-align:left;}
.css_rate_cons__obj {text-align:left;}
.css_day_cons__label { }
.css_day_cons__line {text-align:left;}
.css_day_cons__obj {text-align:left;}
