.css_hire_date_label { }
.css_hire_date_line { }
.css_hire_date_obj { }
.css_fire_date_label { }
.css_fire_date_line { }
.css_fire_date_obj { }
.css_name_label { }
.css_name_line { }
.css_name_obj { }
.css_net_earnings_label { }
.css_net_earnings_line { }
.css_net_earnings_obj {text-align:right;}
.css_duration_label { }
.css_duration_line { }
.css_duration_obj { }
.css_serv_month_label { }
.css_serv_month_line { }
.css_serv_month_obj { }
.css_type_preavis_label { }
.css_type_preavis_line { }
.css_type_preavis_obj { }
.css_preavis_net_label { }
.css_preavis_net_line { }
.css_preavis_net_obj {text-align:right;}
.css_jours_conges_pris_label { }
.css_jours_conges_pris_line { }
.css_jours_conges_pris_obj {text-align:right;}
.css_jours_conges_acquis_label { }
.css_jours_conges_acquis_line { }
.css_jours_conges_acquis_obj {text-align:right;}
.css_jours_conges_restant_label { }
.css_jours_conges_restant_line { }
.css_jours_conges_restant_obj {text-align:right;}
.css_montant_conges_label { }
.css_montant_conges_line { }
.css_montant_conges_obj {text-align:right;}
.css_total_label { }
.css_total_line { }
.css_total_obj {text-align:right;}
.css_employe_id_label { }
.css_employe_id_line { }
.css_employe_id_obj {text-align:right;}
