.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_userid_int_dct_label, .css_userid_int_dct_label:hover {text-align: right; vertical-align: top}
.css_userid_int_dct_field, .css_userid_int_dct_field:hover {text-align: right; vertical-align: top}
.css_tax_iric_sum_label, .css_tax_iric_sum_label:hover {text-align: right; vertical-align: top}
.css_tax_iric_sum_field, .css_tax_iric_sum_field:hover {text-align: right; vertical-align: top}
.css_boni_value_sum_label, .css_boni_value_sum_label:hover {text-align: right; vertical-align: top}
.css_boni_value_sum_field, .css_boni_value_sum_field:hover {text-align: right; vertical-align: top}
.css_boni_net_sum_label, .css_boni_net_sum_label:hover {text-align: right; vertical-align: top}
.css_boni_net_sum_field, .css_boni_net_sum_field:hover {text-align: right; vertical-align: top}
