.css_userid_int_label, .css_userid_int_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_userid_int_grid_line, .css_userid_int_grid_line:hover {vertical-align: top;text-align: right;}
.css_userid_int_tot_ger, .css_userid_int_tot_ger:hover {text-align: ;text-align: right;font-weight:bold;}
.css_username_label, .css_username_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_username_grid_line, .css_username_grid_line:hover {vertical-align: top;text-align: right;}
.css_pay_startdate_label, .css_pay_startdate_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pay_startdate_grid_line, .css_pay_startdate_grid_line:hover {vertical-align: top;text-align: center;}
.css_pay_enddate_label, .css_pay_enddate_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pay_enddate_grid_line, .css_pay_enddate_grid_line:hover {vertical-align: top;text-align: center;}
.css_boni_value_label, .css_boni_value_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_boni_value_grid_line, .css_boni_value_grid_line:hover {vertical-align: top;text-align: right;}
.css_boni_value_tot_ger, .css_boni_value_tot_ger:hover {text-align: ;text-align: right;font-weight:bold;}
.css_tax_iric_label, .css_tax_iric_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tax_iric_grid_line, .css_tax_iric_grid_line:hover {vertical-align: top;text-align: right;}
.css_tax_iric_tot_ger, .css_tax_iric_tot_ger:hover {text-align: ;text-align: right;font-weight:bold;}
.css_boni_net_label, .css_boni_net_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_boni_net_grid_line, .css_boni_net_grid_line:hover {vertical-align: top;text-align: right;}
.css_boni_net_tot_ger, .css_boni_net_tot_ger:hover {text-align: ;text-align: right;font-weight:bold;}
.css_bank_number_label, .css_bank_number_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bank_number_grid_line, .css_bank_number_grid_line:hover {vertical-align: top;text-align: right;}
.css_hiredate_label, .css_hiredate_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_hiredate_grid_line, .css_hiredate_grid_line:hover {vertical-align: top;text-align: center;}
.css_designation_label, .css_designation_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_designation_grid_line, .css_designation_grid_line:hover {vertical-align: top;text-align: right;}
.css_dept_label, .css_dept_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dept_grid_line, .css_dept_grid_line:hover {vertical-align: top;text-align: right;}
.css_userid_int_D_sub_tot, .css_userid_int_D_sub_tot:hover {text-align: right;text-align: right;font-weight:bold;}
.css_userid_int_D_tot_ger, .css_userid_int_D_tot_ger:hover {text-align: right;font-weight:bold;}
.css_boni_value_S_sub_tot, .css_boni_value_S_sub_tot:hover {text-align: right;text-align: right;font-weight:bold;}
.css_boni_value_S_tot_ger, .css_boni_value_S_tot_ger:hover {text-align: right;font-weight:bold;}
.css_tax_iric_S_sub_tot, .css_tax_iric_S_sub_tot:hover {text-align: right;text-align: right;font-weight:bold;}
.css_tax_iric_S_tot_ger, .css_tax_iric_S_tot_ger:hover {text-align: right;font-weight:bold;}
.css_boni_net_S_sub_tot, .css_boni_net_S_sub_tot:hover {text-align: right;text-align: right;font-weight:bold;}
.css_boni_net_S_tot_ger, .css_boni_net_S_tot_ger:hover {text-align: right;font-weight:bold;}
