.css_userid_int__label { }
.css_userid_int__line {text-align:left;}
.css_userid_int__obj {text-align:left;}
.css_employee_name__label { }
.css_employee_name__line { }
.css_employee_name__obj { }
.css_hiredate__label { }
.css_hiredate__line { }
.css_hiredate__obj { }
.css_designation__label { }
.css_designation__line { }
.css_designation__obj { }
.css_dept__label { }
.css_dept__line { }
.css_dept__obj { }
.css_rate_work__label { }
.css_rate_work__line {text-align:left;}
.css_rate_work__obj {text-align:left;}
.css_rate_fixed__label { }
.css_rate_fixed__line {text-align:left;}
.css_rate_fixed__obj {text-align:left;}
.css_bank_number__label { }
.css_bank_number__line { }
.css_bank_number__obj { }
