.css_userid_int_label, .css_userid_int_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_userid_int_grid_line, .css_userid_int_grid_line:hover {vertical-align: top;text-align: right;}
.css_employee_name_label, .css_employee_name_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_employee_name_grid_line, .css_employee_name_grid_line:hover {vertical-align: top;text-align: right;}
.css_designation_label, .css_designation_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_designation_grid_line, .css_designation_grid_line:hover {vertical-align: top;text-align: right;}
.css_dept_label, .css_dept_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dept_grid_line, .css_dept_grid_line:hover {vertical-align: top;text-align: right;}
.css_phone_label, .css_phone_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_phone_grid_line, .css_phone_grid_line:hover {vertical-align: top;text-align: right;}
.css_email_label, .css_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line, .css_email_grid_line:hover {vertical-align: top;text-align: right;}
.css_gender_label, .css_gender_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_gender_grid_line, .css_gender_grid_line:hover {vertical-align: top;text-align: right;}
.css_hiredate_label, .css_hiredate_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_hiredate_grid_line, .css_hiredate_grid_line:hover {vertical-align: top;text-align: right;}
.css_rate_fixed_label, .css_rate_fixed_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rate_fixed_grid_line, .css_rate_fixed_grid_line:hover {vertical-align: top;text-align: right;}
.css_revenu_net_label, .css_revenu_net_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_revenu_net_grid_line, .css_revenu_net_grid_line:hover {vertical-align: top;text-align: right;}
.css_address_label, .css_address_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_address_grid_line, .css_address_grid_line:hover {vertical-align: top;text-align: right;}
.css_dob_label, .css_dob_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_dob_grid_line, .css_dob_grid_line:hover {vertical-align: top;text-align: center;}
.css_rate_cass_label, .css_rate_cass_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rate_cass_grid_line, .css_rate_cass_grid_line:hover {vertical-align: top;text-align: right;}
.css_tax_cass_label, .css_tax_cass_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tax_cass_grid_line, .css_tax_cass_grid_line:hover {vertical-align: top;text-align: right;}
.css_rate_cfgdct_label, .css_rate_cfgdct_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rate_cfgdct_grid_line, .css_rate_cfgdct_grid_line:hover {vertical-align: top;text-align: right;}
.css_tax_cfgdct_label, .css_tax_cfgdct_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tax_cfgdct_grid_line, .css_tax_cfgdct_grid_line:hover {vertical-align: top;text-align: right;}
.css_rate_ona_label, .css_rate_ona_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rate_ona_grid_line, .css_rate_ona_grid_line:hover {vertical-align: top;text-align: right;}
.css_tax_ona_label, .css_tax_ona_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tax_ona_grid_line, .css_tax_ona_grid_line:hover {vertical-align: top;text-align: right;}
.css_rate_fdu_label, .css_rate_fdu_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rate_fdu_grid_line, .css_rate_fdu_grid_line:hover {vertical-align: top;text-align: right;}
.css_tax_fdu_label, .css_tax_fdu_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tax_fdu_grid_line, .css_tax_fdu_grid_line:hover {vertical-align: top;text-align: right;}
.css_rate_iris_label, .css_rate_iris_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rate_iris_grid_line, .css_rate_iris_grid_line:hover {vertical-align: top;text-align: right;}
.css_bank_number_label, .css_bank_number_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bank_number_grid_line, .css_bank_number_grid_line:hover {vertical-align: top;text-align: right;}
