.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_rate_salf_sum_label, .css_rate_salf_sum_label:hover {text-align: right; vertical-align: top}
.css_rate_salf_sum_field, .css_rate_salf_sum_field:hover {text-align: right; vertical-align: top}
.css_incentive_sum_label, .css_incentive_sum_label:hover {text-align: right; vertical-align: top}
.css_incentive_sum_field, .css_incentive_sum_field:hover {text-align: right; vertical-align: top}
.css_rappel_sum_label, .css_rappel_sum_label:hover {text-align: right; vertical-align: top}
.css_rappel_sum_field, .css_rappel_sum_field:hover {text-align: right; vertical-align: top}
.css_sal_brut_reg_sum_label, .css_sal_brut_reg_sum_label:hover {text-align: right; vertical-align: top}
.css_sal_brut_reg_sum_field, .css_sal_brut_reg_sum_field:hover {text-align: right; vertical-align: top}
.css_ot_value_sum_label, .css_ot_value_sum_label:hover {text-align: right; vertical-align: top}
.css_ot_value_sum_field, .css_ot_value_sum_field:hover {text-align: right; vertical-align: top}
.css_extra_insurance_sum_label, .css_extra_insurance_sum_label:hover {text-align: right; vertical-align: top}
.css_extra_insurance_sum_field, .css_extra_insurance_sum_field:hover {text-align: right; vertical-align: top}
