.css_userid_int_label, .css_userid_int_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_userid_int_grid_line, .css_userid_int_grid_line:hover {vertical-align: top;text-align: right;}
.css_username_label, .css_username_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_username_grid_line, .css_username_grid_line:hover {vertical-align: top;text-align: right;}
.css_pay_startdate_label, .css_pay_startdate_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pay_startdate_grid_line, .css_pay_startdate_grid_line:hover {vertical-align: top;text-align: center;}
.css_pay_enddate_label, .css_pay_enddate_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pay_enddate_grid_line, .css_pay_enddate_grid_line:hover {vertical-align: top;text-align: center;}
.css_start_date_cons_label, .css_start_date_cons_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_start_date_cons_grid_line, .css_start_date_cons_grid_line:hover {vertical-align: top;text-align: center;}
.css_end_date_cons_label, .css_end_date_cons_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_end_date_cons_grid_line, .css_end_date_cons_grid_line:hover {vertical-align: top;text-align: center;}
.css_day_cons_label, .css_day_cons_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_day_cons_grid_line, .css_day_cons_grid_line:hover {vertical-align: top;text-align: right;}
.css_day_cons_tot_ger, .css_day_cons_tot_ger:hover {text-align: ;text-align: right;}
.css_rate_cons_label, .css_rate_cons_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rate_cons_grid_line, .css_rate_cons_grid_line:hover {vertical-align: top;text-align: right;}
.css_dedeuct_cons_label, .css_dedeuct_cons_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_dedeuct_cons_grid_line, .css_dedeuct_cons_grid_line:hover {vertical-align: top;text-align: right;}
.css_dedeuct_cons_tot_ger, .css_dedeuct_cons_tot_ger:hover {text-align: ;text-align: right;}
.css_hiredate_label, .css_hiredate_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_hiredate_grid_line, .css_hiredate_grid_line:hover {vertical-align: top;text-align: center;}
.css_dept_label, .css_dept_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dept_grid_line, .css_dept_grid_line:hover {vertical-align: top;text-align: right;}
.css_designation_label, .css_designation_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_designation_grid_line, .css_designation_grid_line:hover {vertical-align: top;text-align: right;}
.css_day_cons_S_sub_tot, .css_day_cons_S_sub_tot:hover {text-align: right;text-align: right;}
.css_day_cons_S_tot_ger, .css_day_cons_S_tot_ger:hover {text-align: right;}
.css_dedeuct_cons_S_sub_tot, .css_dedeuct_cons_S_sub_tot:hover {text-align: right;text-align: right;}
.css_dedeuct_cons_S_tot_ger, .css_dedeuct_cons_S_tot_ger:hover {text-align: right;}
