.css_userid_int__label { }
.css_userid_int__line {text-align:left;}
.css_userid_int__obj {text-align:left;}
.css_employee_name__label { }
.css_employee_name__line { }
.css_employee_name__obj { }
.css_designation__label { }
.css_designation__line { }
.css_designation__obj { }
.css_dept__label { }
.css_dept__line { }
.css_dept__obj { }
.css_payperiod__label { }
.css_payperiod__line {text-align:left;}
.css_payperiod__obj {text-align:left;}
.css_probation_period__label { }
.css_probation_period__line {text-align:left;}
.css_probation_period__obj {text-align:left;}
.css_rate_ot_factor__label { }
.css_rate_ot_factor__line {text-align:left;}
.css_rate_ot_factor__obj {text-align:left;}
.css_rate_ot_holiday_factor__label { }
.css_rate_ot_holiday_factor__line {text-align:left;}
.css_rate_ot_holiday_factor__obj {text-align:left;}
.css_rate_ot_offday_factor__label { }
.css_rate_ot_offday_factor__line {text-align:left;}
.css_rate_ot_offday_factor__obj {text-align:left;}
.css_rate_ot_restday_factor__label { }
.css_rate_ot_restday_factor__line {text-align:left;}
.css_rate_ot_restday_factor__obj {text-align:left;}
