.css_userid_int_det_label, .css_userid_int_det_label:hover {text-align: left;vertical-align: middle;}
.css_userid_int_det_line, .css_userid_int_det_line:hover {height:0px;text-align: left;}
.css_username_det_label, .css_username_det_label:hover {text-align: left;vertical-align: middle;}
.css_username_det_line, .css_username_det_line:hover {height:0px;text-align: left;}
.css_dept_det_label, .css_dept_det_label:hover {text-align: left;vertical-align: middle;}
.css_dept_det_line, .css_dept_det_line:hover {height:0px;text-align: left;}
.css_designation_det_label, .css_designation_det_label:hover {text-align: left;vertical-align: middle;}
.css_designation_det_line, .css_designation_det_line:hover {height:0px;text-align: left;}
.css_income_workday_det_label, .css_income_workday_det_label:hover {text-align: left;vertical-align: middle;}
.css_income_workday_det_line, .css_income_workday_det_line:hover {height:0px;text-align: left;}
.css_income_workday_ot_det_label, .css_income_workday_ot_det_label:hover {text-align: left;vertical-align: middle;}
.css_income_workday_ot_det_line, .css_income_workday_ot_det_line:hover {height:0px;text-align: left;}
.css_income_holiday_det_label, .css_income_holiday_det_label:hover {text-align: left;vertical-align: middle;}
.css_income_holiday_det_line, .css_income_holiday_det_line:hover {height:0px;text-align: left;}
.css_sal_holiday_det_label, .css_sal_holiday_det_label:hover {text-align: left;vertical-align: middle;}
.css_sal_holiday_det_line, .css_sal_holiday_det_line:hover {height:0px;text-align: left;}
.css_income_restday_det_label, .css_income_restday_det_label:hover {text-align: left;vertical-align: middle;}
.css_income_restday_det_line, .css_income_restday_det_line:hover {height:0px;text-align: left;}
.css_pay_startdate_det_label, .css_pay_startdate_det_label:hover {text-align: left;vertical-align: middle;}
.css_pay_startdate_det_line, .css_pay_startdate_det_line:hover {height:0px;text-align: left;}
.css_pay_enddate_det_label, .css_pay_enddate_det_label:hover {text-align: left;vertical-align: middle;}
.css_pay_enddate_det_line, .css_pay_enddate_det_line:hover {height:0px;text-align: left;}
.css_income_offday_ot_det_label, .css_income_offday_ot_det_label:hover {text-align: left;vertical-align: middle;}
.css_income_offday_ot_det_line, .css_income_offday_ot_det_line:hover {height:0px;text-align: left;}
.css_sal_sunday_det_label, .css_sal_sunday_det_label:hover {text-align: left;vertical-align: middle;}
.css_sal_sunday_det_line, .css_sal_sunday_det_line:hover {height:0px;text-align: left;}
.css_sal_brut_reg_det_label, .css_sal_brut_reg_det_label:hover {text-align: left;vertical-align: middle;}
.css_sal_brut_reg_det_line, .css_sal_brut_reg_det_line:hover {height:0px;text-align: left;}
