.css_userid_int__label {text-align:;}
.css_userid_int__line {text-align:left;}
.css_userid_int__obj {text-align:left;}
.css_employee_name__label { }
.css_employee_name__line { }
.css_employee_name__obj { }
.css_dept__label { }
.css_dept__line { }
.css_dept__obj { }
.css_select_assurance__label { }
.css_select_assurance__line {text-align:left;}
.css_select_assurance__obj {text-align:left;}
.css_desc_assurance__label { }
.css_desc_assurance__line { }
.css_desc_assurance__obj { }
.css_deduct_assurance__label { }
.css_deduct_assurance__line {text-align:left;}
.css_deduct_assurance__obj {text-align:left;}
